/* You can add global styles to this file, and also import other style files */
html {
	height: 100%;
    width: auto;
    overflow: hidden;
}

body {
	height: 100%;
    width: auto;
}

#imageContainer {
	height: 50em;
    width: auto;
    background-image: url("/assets/grid.png");
    border-color: cadetblue;
    border-radius: 5px;
    border-style: solid;
}

svg {
	height: 100%;
    width: 100%;
}