/* You can add global styles to this file, and also import other style files */
html {
	height: 100%;
    width: auto;
    overflow: hidden;
}

body {
	height: 100%;
    width: auto;
}

svg {
	height: 100%;
    width: 100%;
}